<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body class="bg-dark">
<div class="container">
    <div class="my-4">
        <h1 class="text-light">Crea una nuova offerta per</h1>
        <h2 class="text-light" th:text="${offerta.pizza.name}"></h2>
    </div>
    <!-- th:object prendiamo l'attributeName del model in offertaController -->
    <form
            th:action="@{/offerte/create}"
            method="POST"
            id="offerte-form"
            th:object="${offerta}"
            class="row"
    >
        <!--hidden-->
        <input type="hidden" th:field="*{pizza}">
        <div class="mb-3 col-3" th:insert="fragments/components :: formField('text','Titolo', 'titolo')"></div>
        <div class="mb-3 col-3"
             th:insert="fragments/components :: formField('date','Inizio offerta', 'dataInizio')"></div>
        <div class="mb-3 col-3" th:insert="fragments/components :: formField('date','Fine offerta', 'dataFine')">

        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Salva</button>
            <a th:href="@{/pizze/show/{pizzaId}(pizzaId = *{pizza.id})}" class="btn btn-primary">Indietro</a>
        </div>
    </form>
</div>

</body>
</html>