<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body class="bg-dark">
<div class="container">
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
    </div>
    <h1 class="text-light">Lista di pizze</h1>
    <a th:href="@{/pizze/create}" class="btn btn-primary">Nuova pizza</a>
    <hr>
    <form th:action="@{/pizze}" method="GET">
        <div class="input-group">
            <input
                    type="text"
                    placeholder="Cerca una pizza"
                    class="form-control"
                    name="search"
                    th:value="${param.search}"
            >
            <button class="btn btn-primary" type="submit">Cerca</button>
        </div>
    </form>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>name</th>
            <th>descrizione</th>
            <th>prezzo</th>
            <th>dettagli</th>
            <th>modifica</th>
            <th>elimina</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${list}" th:object="${pizza}">
            <td th:text="*{name}"></td>
            <td th:text="*{descrizione}"></td>
            <td th:text="|*{prezzo} €|"></td>
            <td><a th:href="@{/pizze/show/{id}(id=*{id})}" class="btn btn-primary" title="dettagli"><i
                    class="fa-solid fa-pizza-slice"></i></a>
            </td>
            <td><a th:href="@{/pizze/edit/{id}(id=*{id})}" class="btn btn-primary" title="modifica"><i
                    class="fa-solid fa-mortar-pestle"></i></a>
            </td>
            <td>
                <form method="POST" th:action="@{/pizze/delete/{id}(id=*{id})}"
                      onsubmit="return confirm('Vuoi davvero eliminare?')">
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-minus"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
