<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza Show')"></head>
<body class="bg-dark">
<div class="container">
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
    </div>
    <h1 class="text-light">Dettagli delle pizze</h1>
    <div th:object="${pizza}">
        <h3 th:text="*{name}" class="text-light"></h3>
        <section>
            <dl>
                <dt class="text-light">Descrizione</dt>
                <dd th:text="*{descrizione}" class="text-light"></dd>
                <dt class="text-light">Foto</dt>
                <dd><img style="height:120px" th:src="*{foto}" alt=""></dd>
                <dt class="text-light">€</dt>
                <dd th:text="|*{prezzo} €|" class="text-light"></dd>
            </dl>
        </section>
        <section>
            <div class="d-flex align-items-center my-4">
                <h2 class="text-light">Offerte speciali</h2>
                <a class="mx-4 fs-3" th:href="@{/offerte/create(pizzaId=*{id})}"><i class="fa-solid fa-circle-plus"></i></a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Nome offerta</th>
                    <th>Inizio offerta</th>
                    <th>Fine offerta</th>
                    <th>Modifica</th>
                    <th>Elimina</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offerta : *{offerteSpeciali}" th:object="${offerta}">
                    <td th:text="*{titolo}"></td>
                    <td th:text="*{dataInizio}"></td>
                    <td th:text="*{dataFine}"></td>
                    <td><a th:href="@{/offerte/edit/{id}(id=*{id})}" class="btn btn-primary" title="modifica"><i
                            class="fa-solid fa-mortar-pestle"></i></a>
                    </td>
                    <td>
                        <form method="POST" th:action="@{/offerte/delete/{id}(id=*{id})}"
                              onsubmit="return confirm('Vuoi davvero eliminare?')">
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-minus"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="*{offerteSpeciali.size() == 0 }" class="alert alert-info my-3">La lista è vuota</div>
        </section>
    </div>
    <a th:href="@{/pizze}" class="btn btn-primary">indietro</a>
</div>
</body>
</html>
