<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza Show')"></head>
<body class="bg-dark">
<nav th:replace="fragments/navbar :: topNavbar('pizze')"></nav>

<div class="container">
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
    </div>
    <h1 class="text-light">Dettagli delle pizze</h1>
    <div th:object="${pizza}">
        <h3 th:text="*{name}" class="text-light"></h3>
        <section class="row">
            <ul class="list-unstyled col-6">
                <li class="text-light">Descrizione</li>
                <li th:text="*{descrizione}" class="text-light"></li>
                <li class="text-light">Foto</li>
                <li><img style="height:120px" th:src="*{foto}" alt=""></li>
                <li class="text-light">€</li>
                <li th:text="|*{prezzo} €|" class="text-light"></li>
            </ul>
            <div class="col-6">
                <h3 class="text-light">Ingredienti</h3>
                <ul class="list-unstyled" th:if=" *{ingredienti.size()> 0}">
                    <li class="text-light" th:each="ingrediente : *{ingredienti}"
                        th:text="${ingrediente.name}"></li>
                </ul>
                <div th:if="*{ingredienti.size() == 0}" class="alert alert-info">
                    La lista è vuota
                </div>
            </div>
        </section>


        <section>
            <div class="d-flex align-items-center my-4">
                <h2 class="text-light">Offerte speciali</h2>
                <a sec:authorize="hasAuthority('ADMIN')" class="mx-4 fs-3"
                   th:href="@{/offerte/create(pizzaId=*{id})}"><i class="fa-solid fa-circle-plus"></i></a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Nome offerta</th>
                    <th>Inizio offerta</th>
                    <th>Fine offerta</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Modifica</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Elimina</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offerta : *{offerteSpeciali}" th:object="${offerta}">
                    <td th:text="*{titolo}"></td>
                    <td th:text="*{dataInizio}"></td>
                    <td th:text="*{dataFine}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/offerte/edit/{id}(id=*{id})}"
                                                                 class="btn btn-primary" title="modifica"><i
                            class="fa-solid fa-mortar-pestle"></i></a>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <form method="POST" th:action="@{/offerte/delete/{id}(id=*{id})}"
                              onsubmit="return confirm('Vuoi davvero eliminare?')">
                            <button type="submit" class="btn btn-danger"><i class="fa-solid fa-minus"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="*{offerteSpeciali.size() == 0 }" class="alert alert-info my-3">La lista è vuota</div>
        </section>
    </div>
    <a th:href="@{/pizze}" class="btn btn-primary">indietro</a>
</div>
</body>
</html>
